@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Playwrite PE', cursive;
  color: #314584;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #314584;
}

a:visited {
  color: #314584;
}

img {
  width: 100%;
  height: auto;
  /* object-fit: cover; */
}
span {
  display: block;
}

h2 {
  font-size: 40px;
}
h4 {
  color: #ff4446;
}

header {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
  align-items: center;
}
.site-wrapper {
  max-width: 1660px;
  margin: 10px auto;
  align-items: center;
  overflow: hidden;
}
.nav-header ul li {
  list-style: none;
  display: inline;
  padding: 25px;
  font-weight: bold;
}

.nav-header ul li:first-child a {
  color: #ff4446;
}

header > a {
  margin-top: 75px;
  padding: 25px 60px;
  background-color: #f0f0f0;
  border: 3px solid #ff4446;
  border-radius: 5% / 8%;
  font-weight: bold;
}

.hero-section {
  display: flex;
  height: auto;
  flex-wrap: wrap;

  padding: 30px 80px;
}
.hero-content {
  flex: 1 0 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.hero-pic {
  flex: 0 0 60%;
  text-align: left;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero-section h1 {
  font-size: 62px;
  padding-left: 50px;
}

.hero-section p {
  padding: 0px 50px;
  font-size: 16px;
}

.hero-links {
  margin: 30px 50px;
}

.hero-links a:first-child {
  background-color: #ff4446;
  color: #fff;
  margin-right: 30px;
}

.hero-links a {
  font-weight: bold;
  padding: 15px 25px;
  border: 1px solid silver;
  border-radius: 30px;
  margin-top: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.hero-pic img {
  padding-top: 30px;
  flex: 1 1 auto;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.design-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid silver;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  position: relative;
  padding-bottom: 60px;
}
.design-pic {
  flex: 0 1 auto;
  width: 400px;
  height: auto;
}
.design-content {
  margin: 30px 0;
}
.design-content h2 {
  line-height: 1;
  margin-bottom: 15px;
}
.design-content h2 span {
  line-height: 1.6;
}
.bubble-left {
  width: 350px;
  position: absolute;
  bottom: -180px;
  left: -100px;
}
.development-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid silver;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  position: relative;
  padding-bottom: 60px;
  margin-top: 40px;
  margin-bottom: 60px;
}
.development-pic {
  flex: 0 1 auto;
  width: 400px;
  height: auto;
}
.development-content {
  margin: 30px 0;
}
.development-content h2 {
  line-height: 1;
  margin-bottom: 15px;
}
.development-content h2 span {
  line-height: 1.6;
}
.bubble-right {
  width: 350px;
  position: absolute;
  bottom: -180px;
  right: -90px;
}
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
  padding-bottom: 60px;
}
.about-pic {
  flex: 0 1 auto;
  width: 30%;
  height: auto;
  margin: 50px 0;
}
.about-content {
  margin: 30px 0;
}
.about-content h2 {
  line-height: 1;
  margin-bottom: 15px;
}
.about-content h2 span {
  line-height: 1.6;
}
.about-content p {
  max-width: 53%;
  margin: 0 auto;
}
#contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
  padding-bottom: 30px;
}
.contact-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.contact-fields * {
  flex: 1 1 auto;
  width: 1400px;
  height: 60px;
  background-color: #314584;
  color: #fff;
  border-radius: 15px;
  border: none;
}

.contact-fields input::placeholder {
  color: white;
  font-family: 'Playwrite PE', cursive;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 10px;
}

.contact-fields textarea {
  height: 180px;
  margin-top: 20px;
}

.contact-fields textarea::placeholder {
  color: white;
  font-family: 'Playwrite PE', cursive;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #314584;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 60px;
  gap: 30px;
}

.nav-footer ul {
  display: flex;
  list-style: none;
}

.nav-footer a {
  color: #fff;
  font-weight: bold;
  padding: 0 30px;
}
