body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
h2 {
  font-size: 1em;
  margin: 0px;
}
.button {
  background: #cfcccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  display: inline-block;
  font-size: 0.7rem;
  border: 1px solid #cfcccc;
}
.button:first-of-type {
  margin-left: 0px;
}
.primary {
  background: orange;
}
.secondary {
  background: #fafa99;
}
.outline {
  background: #fff;
}
